black==21.7b0
flake8==3.9.2
isort==5.9.3
mypy==0.910
pydantic==1.8.2
pydocstyle==6.1.1
pylint==2.10.2
pytest==6.2.4
typed-ast==1.4.3
types-PyYAML==5.4.6
types-requests==2.25.6
typing-extensions==3.10.0.0
